.git
.github
.rspec
.env*
*.gem

appspec.yml

/spec/*
/.bundle
/vendor/bundle
!/vendor/.keep
/node_modules/*
/log/*
/tmp/*

terraform.tf*
.terraform
infrastructure/terraform/.terraform
infrastructure/terraform/terraform.tf*